/*-------------------------
		Màu link
--------------------------*/
a.colorlink:link, a.colorlink:visited
{
color:#ff6300;
text-decoration:none;
}
 
a.colorlink:hover
{
color:#F09;
}
 
.colorlink:active
{
background:yellow;
}
/*Màu 2*/
.colorlink2:link, a.colorlink2:visited
{
color:red;
text-decoration:none;
}
 
.colorlink2:hover
{
color:#F09;
}
 
.colorlink2:active
{
background:#F96;
}
/*Màu 3*/
.colorlink3:link, a.colorlink3:visited
{
color:Blue;
text-decoration:none;
}
 
.colorlink3:hover
{
color:red;
}
 
.colorlink3:active
{
background:#F96;
}
